  {% load cart_template_tags %}
  {% load static %}
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text">Dj-Commerce👒</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          {% comment %} <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a> {% endcomment %}
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link waves-effect" href="{{ item.get_absolute_url }}">Product</a>
          </li> {% endcomment %}
          <li class="nav-item">
            {% comment %} <a class="nav-link waves-effect" href="{% url 'core:checkout' %}">Checkout</a> {% endcomment %}
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_logout' %}" class="nav-link waves-effect">
              <i class="fas fa-logout-user"></i>
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'account_login' %}" class="nav-link waves-effect">
              <i class="fas fa-user"></i>
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account_signup' %}" class="nav-link waves-effect">
              <i class="fas fa-"></i>
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
        {% endif %}
        </ul>

      </div>

    </div>
  </nav>