{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container dark-grey-text mt-5" style="padding-bottom: 200px;">
    <div class="table-responsive text-nowrap">
        <h2>Order Summary</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price(TZS)</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price(TZS)</th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in object.item.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order_item.item.title }}</td>
                    <td>
                    {% if order_item.item.discount_price %}
                    <del>{{ order_item.item.price|intcomma }}</del> {{ order_item.item.discount_price|intcomma }}
                    {% else %}
                    {{ order_item.item.price|intcomma }}
                    {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                    </td>
                    {% if order_item.item.discount_price %}
                    <td>
                    {{ order_item.total_item_discount_price|intcomma }}
                    <span class="badge badge-primary">Saving TZS {{ order_item.saving_amount }}</span>
                    </td>
                    {% else %}
                    <td>{{ order_item.total_item_price|intcomma }}</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4"><strong style="font-weight: 700;">Your Cart is Empty!</strong></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class="btn btn-primary float-right" href="/">Continue Shopping</a>
                    </td>
                </tr>
                {% endfor %}
                {% if object.get_total %}
                <tr>
                    <td colspan="4"><strong style="font-weight: 700;">Order Total</strong></td>
                    <td>TZS {{ object.get_total|intcomma }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class="btn btn-warning float-right ml-2" href="/checkout/">Proceed Checkout</a>
                        <a class="btn btn-primary float-right" href="/">Continue Shopping</a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>
{% endblock content %}